.left {
	border-radius: 7px 0px 0px 7px;
	background-color: white;
	width: 41%;
	float: left;
	padding: 100px 100px 100px 85px;
	margin: 100px 100px;
	position: absolute;
	height: 500px;
	
}
.right {
	margin: 100px 100px;
	height: 700px;
	width: 40%;
    float: right;
    background-image: url(9215cf318738c5bbb8307abfe3pa--kartiny-i-panno-kartina-gorod-akril-20h40sm.jpg);   	
	border-radius: 0px 7px 7px 0px;
	
}
body {
	font-family: sans-serif;
	background-color: grey;
	
}
.knopka {
	display: block;
	border: solid 2px grey;
	padding: 25px;
	margin: 10px;
	border-radius: 7px;
	font-family: fantasy;
	color: grey;
	text-align: center;
	text-decoration: none; 
	
	
}
.knopka:hover {
	background: #A9A9A9;
	color: #FFFFFF;
	
}
footer {
	padding: 100px 0 0 0;
	
}
.footerleft {
	float: left;
	font-family: Marker Felt;
	
	
}
.footerright {
	float: right;
	font-size: 12px;
	font-family: cursive;
	
	
}
h3 {
	padding-bottom: 20px;
	margin-top: -35px;
	font-family: serif;
	font-weight: 600
	
}
i {
	float: left;
	font-size: 35px;
	
}
.join {
	font-family: DejaVu Sans Mono;
	font-size: 20px;
	
}
.text {
	font-weight: 600;
	
}